.chat {
  display: flex;
  flex-direction: column;
  background-color: #363a3f;
  flex: 0.75;
  height: 100vh;
}
.chat__messages {
  flex: 1;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: auto;
}

.chat__messages::-webkit-scrollbar {
  display: none;
}

.chat__input {
  border-radius: 5px;
  margin: 20px;
  border-top: 1px solid gray;

  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 15px;
  color: lightgray;
  background-color: #474b53;
}
.chat__inputIcons > .MuiSvgIcon-root {
  padding: 5px;
}

.chat__input > form {
  flex: 1;
  display: flex;
}
.chat__input > form > input {
  padding: 15px;
  background: transparent;
  border: none;
  outline-width: 0;
  color: white;
  font-size: large;
  flex: 1;
}
.chat__inputButton {
  display: none;
}
